## Sequences
* Access using bracket notation, either left-to-right (positive index, eg. S[2]) or right-to-left (negative index, eg. S[-3])
* Support slicing (eg. S[0:2]

## Lists
* Mutable sequences of objects of any time
* Used to store homogenous items

In [16]:
# Lists
numbers = [2,4,6,8]
numbers[0] # => 2
numbers[-1] # => 8
numbers.append(10) # mutable, can modify content
x = [12, 14, 16]
numbers + x # concatenating lists
type(_) # => returns most recent object type
numbers.reverse() # => list methods work in place
numbers # => numbers are now reversed
names = ['Dan', 'Joe', 'Jimmy', 'Zany']
names.sort()
names # => names are now sorted alphabetically
names.reverse() # => reverse order
sorted_names = sorted(names) # => sorted creates a new sorted list
len(names) # => returns length of names object

(0, 0)
(1, 1)
(2, 4)
(4, 6)
(8, 10)
(12, 15)

False

## Tuples
* immutable sequences used to store heterogenous data
* many uses

In [18]:
# Tuples
T = (1,3,5,7) # => create using parenthesis
len(T) # => len works the same as lists
T + (9, 11) # => concatenation works the same too
T[1] # => indices work the same too
x = 12.23
y = 23.34
coordinate = (x,y) # => tuple packing
type(coordinate) # => tuple
c1, c2 = coordinate # => unpacking a tuple
coordinates = [(0,0),(1,1),(2,4),(4,6),(8,10),(12,15)] 
for (x,y) in coordinates: # can use tuples in for loops
    print(x,y)
c = (2,3)
type(c) # => tuple
c = (2)
type(c) # => int
c = ((2,)) # => create a tuple with a single object
type(c) # => tuple

(0, 0)
(1, 1)
(2, 4)
(4, 6)
(8, 10)
(12, 15)

tuple

## Ranges
* immutable sequences of integeres
* commonly used on for loops

In [19]:
# Ranges
list(range(5)) # converts range into a list => [0, 1, 2, 3, 4]
list(range(1,6)) # starts at 1 and ends at 5
list(range(1,12,2)) # increments by 2
# don't turn range objects into lists

[1, 3, 5, 7, 9, 11]

## Strings
* immutable sequences of characters
* enclose with single, double or triple quotes

In [20]:
# Strings
S = "Python"
len(S) # => 6
"y" in S # => returns True
"hello " + "world" # => "hello world" (concatenation)
3 * S # => "PythonPythonPython"
dir(str) # => list of string attributes
# str.replace? # => returns documentation for this method
name = "Tina Fey"
name.replace("T", "t") # => tina Fey
names = name.split(' ')
type(names[0])
names[0].upper()
names[1].lower

## Sets
* unordered collection of distinct hashable objects
* two types: set (mutable) and frozen set (immutable)
* cannot be indexed
* elements cannot be duplicated

In [21]:
# Sets
ids = set() # => creates empty set
ids = set([0,1,2,3,4,5,6,7,8,9])
len(ids) # => returns length of set
ids.add(10) # => adds 10 to set
ids.add(2) # => nothing happens
ids.pop() # => removes arbitrary element
males = set([1,2,3,4,5])
females = ids - males # => assigns females to all of items except males
everyone = males | females # => union of males and females
everyone & set([1,2,3]) # => intersection 
word = "antidisestablishmentarianism"
letters = set(word)
len(letters) # => returns unique letters

12

## Dictionaries
* mappings of key objects to value objects
* keys must be immutable, values are mutable
* dictionaries are mutable
* quick lookups for unordered data (do not maintain order)

In [22]:
# Dictionaries
age = {} # => empty dictionary
age = dict() # => empty dictionary
age = {"Tim": 29, "Jeff": 30, "Jim" :18}
age['Tim'] # => returns 29
age['Tim'] += 1
age.keys # => returns a view object with keys
names = age.keys 
type(names) # => dict_keys
age.values # => returns a view object with values
ages = age.values()
'Tim' in age # => True 
'Sophia' in age # => False

False